In [1]:
import numpy as np
import pandas as pd

In [2]:
diccionario = {'ColumnaUno': [1, 2, 3, np.nan],
 'ColumnaDos': [4, np.nan, 6, 7],
 'ColumnaTres': ['a', 'b', 'c', None]
 }

In [4]:
df = pd.DataFrame(diccionario)
df

   ColumnaUno  ColumnaDos ColumnaTres
0         1.0         4.0           a
1         2.0         NaN           b
2         3.0         6.0           c
3         NaN         7.0        None

In [5]:
# Manejo de valores nulos. Devuelve un bolena
df.isnull()

   ColumnaUno  ColumnaDos  ColumnaTres
0       False       False        False
1       False        True        False
2       False       False        False
3        True       False         True

In [7]:
df.isnull() * 1  # Uso de tensores de redes neuronales De esta manera es recomienda para el tema de redes neuronales, los metodos numericos.

   ColumnaUno  ColumnaDos  ColumnaTres
0           0           0            0
1           0           1            0
2           0           0            0
3           1           0            1

In [10]:
df.fillna('Missing')  # Ledamos un valor a valores nulos

  ColumnaUno ColumnaDos ColumnaTres
0        1.0        4.0           a
1        2.0    Missing           b
2        3.0        6.0           c
3    Missing        7.0     Missing

In [15]:
df.interpolate()  # Este asume un valor para los valores nulos. Es de ser una serie.

   ColumnaUno  ColumnaDos ColumnaTres
0         1.0         4.0           a
1         2.0         5.0           b
2         3.0         6.0           c
3         3.0         7.0        None

In [17]:
df.dropna()  # Borra las filas de los valores nulos

   ColumnaUno  ColumnaDos ColumnaTres
0         1.0         4.0           a
2         3.0         6.0           c