In [1]:
import pandas as pd

In [5]:
jugadores = pd.Series(['Navas', 'Mbappe', 'Neymas', 'Messi'], index=[1, 7, 10, 30])
jugadores

1      Navas
7     Mbappe
10    Neymas
30     Messi
dtype: object

In [10]:
# Definir jugadores sin indexacion
judadoresSinIndex = pd.Series(['Navas', 'Mbappe', 'Neymas', 'Messi'])
judadoresSinIndex

0     Navas
1    Mbappe
2    Neymas
3     Messi
dtype: object

In [12]:
dictt = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}  # Creamos una serie apartir de una diccionario
pd.Series(dictt)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [14]:
# Accesedemos a la poscion 
jugadores[30]  # En ese caso coomo de tiene con indices añadidos se colocan si indice propi

'Messi'

In [15]:
# Tambien podemos hacer slincing
jugadores[0:3]

1      Navas
7     Mbappe
10    Neymas
dtype: object

In [19]:
# Creamos un diccionario para pasarlo a dataFrame
dictDos = {'Jugador': ['Navas', 'Mbappe', 'Neymas', 'Messi'], 
    'Altura:': [183.2, 187.3, 186.4, 145.3],
    'Goles': [400, 200, 40, 600]
    }

In [22]:
dfPlayers = pd.DataFrame(dictDos)  # Creamos el dataframe a partir del diccionario
dfPlayers

  Jugador  Altura:  Goles
0   Navas    183.2    400
1  Mbappe    187.3    200
2  Neymas    186.4     40
3   Messi    145.3    600

In [23]:
# Mostramos las columnas
dfPlayers.columns

Index(['Jugador', 'Altura:', 'Goles'], dtype='object')

In [26]:
# Mostramos las filas
dfPlayers.index

RangeIndex(start=0, stop=4, step=1)

Creamos un nuevo dataFrame

In [28]:
equipo = {'Jugador': ['Luis Suárez','Jorge Molina', 'Antonio Puertas', 'Germán Sánchez', 'Luis Milla', 'Luís Manuel Arantes Maximiano'],
        'Posición': ['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],
        'Número': [9, 23, 10, 6, 5, 1],
        'Altura': [185.0, 187.0, 185.0, 187.0, 175.0, 190.0],
        'Goles': [7, 7, 5, 2, 2, 0]}

In [30]:
# Creamos el dataFrame
dfPlayerGranada = pd.DataFrame(equipo)
dfPlayerGranada

                         Jugador        Posición  Número  Altura  Goles
0                    Luis Suárez       Delantero       9   185.0      7
1                   Jorge Molina       Delantero      23   187.0      7
2                Antonio Puertas  Centrocampista      10   185.0      5
3                 Germán Sánchez         Defensa       6   187.0      2
4                     Luis Milla  Centrocampista       5   175.0      2
5  Luís Manuel Arantes Maximiano         Portero       1   190.0      0