In [3]:
import pandas as pd
import numpy as np

In [21]:
datos = [1, 3, 7, 11, 'Python', '0.5', np.nan]
serie = pd.Series(datos)

# Pasar los elementos que no sean nulos los pasamos a 
serieConvertida = pd.to_numeric(serie, 'coerce')  # covierte los datos a numeros y si no no dejammos de manera NaN
print(serieConvertida)

# Cambiamos los valores de NaN a 0. 
print(serieConvertida.fillna(0))

0     1.0
1     3.0
2     7.0
3    11.0
4     NaN
5     0.5
6     NaN
dtype: float64
0     1.0
1     3.0
2     7.0
3    11.0
4     0.0
5     0.5
6     0.0
dtype: float64

Usar Operadores Relacionales con Métodos de la clase Series

In [22]:
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([5, 4, 3, 2, 1])

# Usamos los operedores relacionadles de pnadas
print(serie1.eq(serie2))  # Diferente de 
print(serie1.ne(serie2)) # Diferente de
print(serie1.gt(serie2))  # mayor que
print(serie1.lt(serie2))  # Menos que 
print(serie1.ge(serie2))  # Operador igual. 
print(serie2.le(serie1))  # operador menor o igual que

0    False
1    False
2     True
3    False
4    False
dtype: bool
0     True
1     True
2    False
3     True
4     True
dtype: bool
0    False
1    False
2    False
3     True
4     True
dtype: bool
0     True
1     True
2    False
3    False
4    False
dtype: bool
0    False
1    False
2     True
3     True
4     True
dtype: bool
0    False
1    False
2     True
3     True
4     True
dtype: bool

Obtener los Primeros y Últimos n Elementos de un Objeto Series

In [30]:
serie3 = pd.Series(range(1, 100))
print(serie3)

# Mostramos los primeros elementos
print(serie3.head(5))

# Msotramos los ultimos elenentos
print(serie3.tail(5))

0      1
1      2
2      3
3      4
4      5
      ..
94    95
95    96
96    97
97    98
98    99
Length: 99, dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64
94    95
95    96
96    97
97    98
98    99
dtype: int64

Usar la Función where de la Clase Series

In [35]:
serie4 = pd.Series(list(range(1, 6)))

# Mostramos la serie
print(serie4)

# Usamos la clausa where
print(serie4.where(serie4 > 1))  # Lso que no cumplen la condicion queda como NAN

# si no cumple la condicion lo pasamos a 0
print(serie4.where(serie4 > 1, 0))

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
0    0
1    2
2    3
3    4
4    5
dtype: int64

Remover de una Serie los Elementos que no Cumplan una Condición

In [60]:
serie5 = pd.Series(list(range(1, 10)))

# Msotramos la serie
print(serie5)

print(serie5[serie5 < 5].dropna())
# print(serie5)

# Usando where dropna
print(serie5.where(serie5 >= 5).dropna())

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64
4    5.0
5    6.0
6    7.0
7    8.0
8    9.0
dtype: float64

Contar los Valores Repetidos en una Serie con value_counts

In [66]:
serie6 = pd.Series([1, 1, 1, 1, 2, 2, 5, 5, 3, 4])

# Muestra el el objeto serie
print(serie6)

# Cuenta los objetos repetidos
print(serie6.value_counts())

0    1
1    1
2    1
3    1
4    2
5    2
6    5
7    5
8    3
9    4
dtype: int64
1    4
2    2
5    2
3    1
4    1
Name: count, dtype: int64

Generar la Representación JSON de un Objeto Series

In [68]:
serie7 = pd.Series([1, 1, 1, 1, 2, 2, 5, 5, 3, 4])
print(serie7)

# Representacion json
print(serie7.to_json())

0    1
1    1
2    1
3    1
4    2
5    2
6    5
7    5
8    3
9    4
dtype: int64
{"0":1,"1":1,"2":1,"3":1,"4":2,"5":2,"6":5,"7":5,"8":3,"9":4}

Obtener la Representación de Diccionario de un Objeto Series

In [73]:
# Creamos las listas. Valores y indices
capitales = ['Lima', 'París', 'Moscú', 'Berlin', 'Bogotá']
paises = ['Perú', 'Francia', 'Rusia', 'Alemania', 'Colombia']

# Creamos el objeto serie a partir de las listas
serie8 = pd.Series(capitales, index=paises)
print(paises)

# Cremaos e objeto diccionario apartir de el objeto serie
diccionario = serie8.to_dict()
print(diccionario)
print(type(diccionario))

['Perú', 'Francia', 'Rusia', 'Alemania', 'Colombia']
{'Perú': 'Lima', 'Francia': 'París', 'Rusia': 'Moscú', 'Alemania': 'Berlin', 'Colombia': 'Bogotá'}
<class 'dict'>

Obtener la Representación de Diccionario de un Objeto Series

In [79]:
# Creamos las listas. Valores y indices
capitales2 = ['Lima', 'París', 'Moscú', 'Berlin', 'Bogotá']
paises2 = ['Perú', 'Francia', 'Rusia', 'Alemania', 'Colombia']

# Creamos el objeto serie a partir de las listas
serie9 = pd.Series(capitales, index=paises)

# creamos el objeto dataFrame. Opcion 1
dfOp1 = pd.DataFrame(serie9)


# creamos el objeto dataFrame. Opcion 2
dfOp2 = pd.DataFrame(serie9)
dfOp2

               0
Perú        Lima
Francia    París
Rusia      Moscú
Alemania  Berlin
Colombia  Bogotá

Convertir el Contenido de un Objeto Series en Formato CSV

In [90]:
# Creamos las listas. Valores y indices
capitales3 = ['Lima', 'París', 'Moscú', 'Berlin', 'Bogotá']
paises3 = ['Perú', 'Francia', 'Rusia', 'Alemania', 'Colombia']

serie10 = pd.Series(capitales3, paises3)
csv = serie10.to_csv()
print(csv)

,0
Perú,Lima
Francia,París
Rusia,Moscú
Alemania,Berlin
Colombia,Bogotá

 Aplicar una Función Sobre los Valores de un Objeto Series

In [110]:
from math import sqrt
# Creamos las listas. Valores y indices
capitales4 = ['Lima', 'París', 'Moscú', 'Berlin', 'Bogotá']
paises4 = [22, 18, 17, 25, 32]

serie11 = pd.Series(paises4, capitales4)
print(serie10)

# Creamos la funcion
def cuadrado(x):
    return x * x

# Pasamos la funcion
print(serie11.apply(cuadrado))
# Con una funcion lambda
print(serie11.apply(lambda x : x * x))

# Creamos una funcion para aumentar la temperatura
def adicionarTemperatura(x, delta):
    return x + delta

# pasamos la funcion con un argunmento
print(serie11.apply(adicionarTemperatura, args=(7,)))

# Modulo mat
print(serie11.apply(sqrt))

Lima      22
París     18
Moscú     17
Berlin    25
Bogotá    32
dtype: object
Lima       484
París      324
Moscú      289
Berlin     625
Bogotá    1024
dtype: int64
Lima       484
París      324
Moscú      289
Berlin     625
Bogotá    1024
dtype: int64
Lima      29
París     25
Moscú     24
Berlin    32
Bogotá    39
dtype: int64
Lima      4.690416
París     4.242641
Moscú     4.123106
Berlin    5.000000
Bogotá    5.656854
dtype: float64

Encontrar los Elementos que Están Dentro de un Rango con between

In [129]:
datos3  = [22, 18, 17, 25, 32, np.nan, 7, 2, 3, 5, 0]
serie12 = pd.Series(datos3)
#print(serie12)

#Buscar sobre un rango. Opcion 1
print(serie12.between(2, 5))

# Opcion 2
print((2 <= serie12) & (serie12 <= 5))

#Opcion 3
print(serie12.between(2, 5, inclusive='neither'))

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10    False
dtype: bool
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10    False
dtype: bool
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
dtype: bool

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10    False
dtype: bool
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
dtype: bool

In [133]:
# Crear una serie con cadenas de caracteres
datos4 = [ 'Ana', 'Alejandra', 'Diana', 'Manuela', 'Sofia']
serie13 = pd.Series(datos4)

# Buscamos el mecanismo de alfabetico.
serie13.between('Alicia', 'Elena')

0     True
1    False
2     True
3    False
4    False
dtype: bool