In [23]:
import pandas as pd

In [24]:
# Cargar el archivo Parquet
df = pd.read_parquet('archivo.parquet')

# Mostrar las primeras 5 filas
print(df.head())

   2017-01-02 10:30:00  1.0  6.24275379  -75.54836478  Hombre  36  \
0  2017-01-02 10:30:00  1.0    6.242754    -75.548365  Hombre  36
1  2017-01-02 08:30:00  1.0    6.222729    -75.584253  Hombre  22
2  2017-01-03 07:00:00  1.0    6.290452    -75.564608  Hombre  35
3  2017-01-03 07:00:00  1.0    6.290452    -75.564608  Hombre  35
4  2017-01-04 15:00:00  1.0    6.272107    -75.560456  Hombre  26

                Casado(a)  Sin dato Sin dato.1 Sin dato.2  ...   8  \
0               Casado(a)  Sin dato   Sin dato   Sin dato  ...   8
1               Casado(a)  Sin dato   Sin dato   Sin dato  ...  15
2  Unión marital de hecho  Sin dato   Sin dato   Sin dato  ...   5
3  Unión marital de hecho  Sin dato   Sin dato   Sin dato  ...   5
4              Soltero(a)  Sin dato   Sin dato   Sin dato  ...   4

          Vía pública  Villa Hermosa       Peso  \
0         Vía pública  Villa Hermosa    Celular
1         Vía pública          Belén       Peso
2  Estación del Metro       Castilla  Billetera
3  Estación del Metro       Castilla     Cédula
4         Vía pública       Aranjuez    Celular

   Dinero, joyas, piedras preciosas y título valor  Mercancía -1 Sin dato.11  \
0                                       Tecnología  Mercancía -1      Blanco
1  Dinero, joyas, piedras preciosas y título valor  Mercancía -1    Sin dato
2                   Prendas de vestir y accesorios  Mercancía -1    Sin dato
3                                       Documentos  Mercancía -1    Sin dato
4                                       Tecnología  Mercancía -1    Sin dato

  Sin dato.12 Sin dato.13
0    Sin dato    Sin dato
1    Sin dato    Sin dato
2    Sin dato    Sin dato
3    Sin dato    Sin dato
4    Sin dato    Sin dato

[5 rows x 35 columns]