In [1]:
import pandas as pd

Crear y visializar un arreglo unidimensional como una estructura Series

In [2]:
datos = [2, 3, 5, 7, 11]  # Arreglo
serie = pd.Series(datos)  # Creamos la serie a partir de un arreglo
serie

0     2
1     3
2     5
3     7
4    11
dtype: int64

In [3]:
serie.size # Buscamos el tamaño de la serie

5

In [4]:
serie.describe()  # Estadisticas basicas de una arreglo

count     5.000000
mean      5.600000
std       3.577709
min       2.000000
25%       3.000000
50%       5.000000
75%       7.000000
max      11.000000
dtype: float64

Convertir un Objeto Series a una lista

In [5]:
datosDos = [2, 3, 5, 7, 11]  # Arreglo
serieDos = pd.Series(datosDos) # Pasamos el arreglo y se crea el objeto tipo serie
print(type(datosDos)) # Miramos el tipo de objeto
print(type(serieDos)) # Miramos el tipo de objeto

<class 'list'>
<class 'pandas.core.series.Series'>

In [6]:
listaDos = serieDos.to_list()  # Convertimos el objeto de tipo Series a Lista
print(type(listaDos))  # Convertido el objeto tipo serie a lista, pasamos a imprimirlo

<class 'list'>

Realizar operaciones Aritméticas Básicas entre Objetos Serie

In [7]:
# Creamos lo objetos para hacer la operaciones
serieTres = pd.Series([1, 2, 3, 4, 5])
serieCuatro = pd.Series([6, 7, 8, 9, 10])

# imprimimos el tipo de datos
print(f'\tTipo de dato del Objeto serie tres: {type(serieTres)}\n\tObjeto serie cuatro: {type(serieCuatro)}')

# Sumamos los objetos de tipo Serie. Operación de suma
print(f'* Suma de los objetos serie:\n{serieTres + serieCuatro}')

# Restamos los objetos de tipo Serie. Operación de resta
print(f'* Resta de los objetos serie:\n{serieTres - serieCuatro}')

# Multiplicación los objetos de tipo Serie. Operación de resta
print(f'* Multiplicación de los objetos serie:\n{serieTres * serieCuatro}')

# División los objetos de tipo Serie. Operación de resta
print(f'División de los objetos serie:\n{serieTres / serieCuatro}')

	Tipo de dato del Objeto serie tres: <class 'pandas.core.series.Series'>
	Objeto serie cuatro: <class 'pandas.core.series.Series'>
* Suma de los objetos serie:
0     7
1     9
2    11
3    13
4    15
dtype: int64
* Resta de los objetos serie:
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64
* Multiplicación de los objetos serie:
0     6
1    14
2    24
3    36
4    50
dtype: int64
División de los objetos serie:
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

Usar Operadores Relacionales para Comprar Objetos Series

In [8]:
serieCinco = pd.Series([1, 2, 3, 4, 5, 7])
serieSeis = pd.Series([13, 11, 5, 3, 7, 5])
print(serieCinco)
print(serieSeis)

0    1
1    2
2    3
3    4
4    5
5    7
dtype: int64
0    13
1    11
2     5
3     3
4     7
5     5
dtype: int64

In [9]:
# Comparamos valores de las series.
serieCinco < serieSeis

0     True
1     True
2     True
3    False
4     True
5    False
dtype: bool

In [10]:
# Comparamos valores de las series.
serieCinco > serieSeis

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [11]:
# Comparamos valores de las series.
serieCinco == serieSeis

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

Convertir un diccionario de python en objeto serie

In [12]:
# Creamos el objeto de tipo diccionario
dicDatos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

# Creamos el objeto serie apartir del objeto tipo diccionario
serieDic = pd.Series(dicDatos)

# Imprimimos la conversion de tipo serie
print(serieDic)

# El tipo de objeto
print(type(serieDic))

a    10
b    20
c    30
d    40
dtype: int64
<class 'pandas.core.series.Series'>

Convertir un Arreglo NumPy en un Objeto Series

In [19]:
import numpy as np

In [20]:
# Arreglo numpy
arregloNP = np.array([2, 3, 5, 7, 11])

# Imprimimos el arreglo de tipo numpy
print(type(arregloNP))

# PAsamos e larreglo de tipo numpy a pandas series
serieNumpy = pd.Series(arregloNP)
# Imprimimos el arreglo de tipo serie
print(serieNumpy)
# Validamos el tipo
print(type(serieNumpy))

<class 'numpy.ndarray'>
0     2
1     3
2     5
3     7
4    11
dtype: int32
<class 'pandas.core.series.Series'>

Cambiar el tipo de dato de un objeto Series

In [21]:
# Creamos el objeto de tipo series, con valores strings
datosTres = pd.Series(['100', '200', 'python', '300.15', '500.8'])

# Imprimimos el tipo de serie
print(type(datosTres))

# Imprimos la serie
print(datosTres)

# Convertimos los datos a tipos de datos float
conversion = pd.to_numeric(datosTres, errors='coerce' )
conversion

<class 'pandas.core.series.Series'>
0       100
1       200
2    python
3    300.15
4     500.8
dtype: object

0    100.00
1    200.00
2       NaN
3    300.15
4    500.80
dtype: float64

Obtener una Columna de un Objeto DataFrame como un Objeto Series

In [31]:
# Creamos el objeto de tipo diccionario
dicDatosDict = {'a': [10, 20, 30, 40 ], 'b': [20, 50, 60, 70], 'c': [30, 70, 80, 90], 'd': [40, 70, 80, 70]}

In [37]:
df = pd.DataFrame(dicDatosDict)  # Creamos el data Frame
print(df)  # Mostramos el dataFrame
print(type(df))  # Mostramos el tipo de dato

# Msotramos la columna buscada
df['c']

    a   b   c   d
0  10  20  30  40
1  20  50  70  70
2  30  60  80  80
3  40  70  90  70
<class 'pandas.core.frame.DataFrame'>

0    30
1    70
2    80
3    90
Name: c, dtype: int64