In [29]:
import pandas as pd
import numpy as np

In [30]:
# Creamos un dataFRame y le damos un punto de referencia
dfUno = pd.DataFrame({'NOMBRE': ['Jose', 'Max'],
                    'CARREA': ['Economia', 'Arquitectura'],
                    'EDAD': [23, 26]}).set_index('NOMBRE')

dfUno

              CARREA  EDAD
NOMBRE
Jose        Economia    23
Max     Arquitectura    26

In [31]:
dfDos = pd.DataFrame({'NOMBRE': ['Maria', 'Alan'],
                    'CARREA': ['Medicina', 'Licenciatura'],
                    'EDAD': [28, 20]}).set_index('NOMBRE')
print(dfDos)

              CARREA  EDAD
NOMBRE
Maria       Medicina    28
Alan    Licenciatura    20

In [32]:
df = pd.concat([dfUno, dfDos])

In [33]:
df

              CARREA  EDAD
NOMBRE
Jose        Economia    23
Max     Arquitectura    26
Maria       Medicina    28
Alan    Licenciatura    20

Concatenacion Por Columnas. LAs filas de los data frames concatenados deben tener las misma filas, si no van a tener muchos datos NaN

In [34]:
dfTres = pd.DataFrame({'AUTOS': ['Nissan', 'Ford', 'audi'],
                       'COLOR': ['Blanco', 'Azul', 'Rojo']}).set_index('AUTOS')
dfTres

         COLOR
AUTOS
Nissan  Blanco
Ford      Azul
audi      Rojo

In [35]:
dfCuadro = pd.DataFrame({'AUTOS': ['Nissan', 'Ford', 'audi'],
                       'COLOR': ['Blanco', 'Azul', 'Rojo'],
                       'MODELO': [2018, 2020, 2022]}).set_index('AUTOS')
dfCuadro

         COLOR  MODELO
AUTOS
Nissan  Blanco    2018
Ford      Azul    2020
audi      Rojo    2022

In [36]:
dfFilas = pd.concat([dfTres, dfCuadro], axis=1)

In [37]:
dfFilas

         COLOR   COLOR  MODELO
AUTOS
Nissan  Blanco  Blanco    2018
Ford      Azul    Azul    2020
audi      Rojo    Rojo    2022

Mezcclar DataFrame. Nos permite integrar las filas de DOS data frames. Si tiene un valor que no esta o diferente del uno del otro, no lo colocará

In [49]:
dfCinco = pd.DataFrame({'AUTOS': ['Nissan', 'Ford', 'audi'],
                       'COLOR': ['Blanco', 'Azul', 'Rojo']})

In [50]:
dfSeis = pd.DataFrame({'AUTOS': ['Toyoya', 'Ford', 'audi'],
                       'MODELO': [2018, 2020, 2022]})

In [55]:
dfMezclado = pd.merge(dfCinco, dfSeis, on='AUTOS')

In [56]:
dfMezclado

  AUTOS COLOR  MODELO
0  Ford  Azul    2020
1  audi  Rojo    2022

In [ ]:
dfMezclado =  pd.merge(dfCinco, dfSeis, on='AUTOS', on='outer')