In [18]:
import pandas as pd
import numpy as np

Generamos un dataDFrame apartir de un Diccionario

In [10]:
data = {
    'NOMBRE': ['Maria', 'Jose', 'David', 'Ivan'],
    'CARRERA': ['Auditoria', 'Informatica', 'Derecho', 'Idiomas'],
    'CORREO': ['sccscac@gmail.com', 'scffd@gmail.com', 'scfsdcg@gmail.com', 'luis@gmail.com']
    }

In [11]:
# Creamos el dataFrame apartir del objeto 
estudiantes = pd.DataFrame(data)
print(estudiantes)

  NOMBRE      CARRERA             CORREO
0  Maria    Auditoria  sccscac@gmail.com
1   Jose  Informatica    scffd@gmail.com
2  David      Derecho  scfsdcg@gmail.com
3   Ivan      Idiomas     luis@gmail.com

Generamos el DataFrame a partir de una lista

In [16]:
# Creamos el DATAFRAME con dos coloumnas. (Deben tener dos columnas)
df = pd.DataFrame([['Maria',  27], ['Luis', 24], ['Ana', 41], ['Rolando', 40]], columns=['NOMBRE', 'EDAD'])

In [17]:
print(df)

    NOMBRE  EDAD
0    Maria    27
1     Luis    24
2      Ana    41
3  Rolando    40

Generamos un dataFrame a partir de un array

In [20]:
# Generamos un DATAFRAME a partir de numeros aleatorios de python
dfDos = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
dfDos

          a         b         c
0  1.064707 -0.892412  1.732732
1 -0.177030 -0.868113 -1.201208
2  2.173240 -0.593928  0.717312
3 -0.044562  0.617363 -1.044642