In [4]:
import pandas as pd

In [5]:
# Crear un DataFrame
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos'],
    'Edad': [23, 35, 45],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia']
}
df = pd.DataFrame(data)

# Mostrar el DataFrame
print(df)

   Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Luis    35  Barcelona
2  Carlos    45   Valencia

In [6]:
serie1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
serie2 = pd.Series([40, 50, 60], index=['a', 'b', 'c'])

df = pd.DataFrame({'Columna1': serie1, 'Columna2': serie2})
print(df)

   Columna1  Columna2
a        10        40
b        20        50
c        30        60