In [46]:
# Importamos la librería
import mysql.connector
import pandas as pd
import boto3
from io import StringIO

In [47]:
# Configurar las credenciales de AWS 
s3 = boto3.client('s3', aws_access_key_id = '', aws_secret_access_key = '')

In [48]:
# Creamos la conexióm de la base de datos
conexion = mysql.connector.connect(host ='localhost', user = 'root', password = 'lf123', database = 'departamentos',)

In [49]:
# crear el cursor para realizar operaciones en la base de datos
cursor = conexion.cursor()

In [50]:
# Ejecutar la consulta
cursor.execute('select * from sala')

In [51]:
# Obtener los resultados de la cunsulta
resultados = cursor.fetchall()

In [52]:
# Iteramos los resultados
for resul in resultados:
    print(resul)

(1, 'Financiero', 1066746231)
(1, 'Financiero', 1066749341)
(1, 'Financiero', 1066746232)
(1, 'Financiero', 1066746233)
(2, 'Recursos Humanos', 1066746234)
(2, 'Recursos Humanos', 1066746235)
(2, 'Recursos Humanos', 1066746236)
(2, 'Recursos Humanos', 1066746237)
(1, 'Financiero', 1066746238)
(2, 'Recursos Humanos', 1066746239)
(1, 'Financiero', 1066746242)
(3, 'Marketing', 1066746243)
(3, 'Marketing', 1066746244)
(3, 'Marketing', 1066746245)
(1, 'Financiero', 1066746246)
(2, 'Recursos Humanos', 1066746247)
(1, 'Financiero', 1066746248)
(2, 'Recursos Humanos', 1066746250)
(1, 'Financiero', 1066746251)
(2, 'Recursos Humanos', 1066746252)
(1, 'Financiero', 1066746253)
(3, 'Marketing', 1066746254)
(2, 'Recursos Humanos', 1066746255)
(2, 'Recursos Humanos', 1066746256)
(2, 'Recursos Humanos', 1066746257)
(2, 'Recursos Humanos', 1066746258)
(2, 'Recursos Humanos', 1066746259)
(2, 'Recursos Humanos', 1066746260)
(3, 'Marketing', 1066746261)
(2, 'Recursos Humanos', 1066746262)
(2, 'Recursos Humanos', 1066746263)
(1, 'Financiero', 1066746264)
(1, 'Financiero', 1066746265)
(2, 'Recursos Humanos', 1066746266)
(3, 'Marketing', 1066746267)
(2, 'Recursos Humanos', 1066746268)
(3, 'Marketing', 1066746269)
(1, 'Financiero', 1066746270)
(2, 'Recursos Humanos', 1066746271)
(1, 'Financiero', 1066746221)
(2, 'Recursos Humanos', 1066746273)
(1, 'Financiero', 1066746272)
(2, 'Recursos Humanos', 1066746274)
(1, 'Financiero', 1066746275)
(1, 'Financiero', 1066746276)
(1, 'Financiero', 1066746277)
(1, 'Financiero', 1066746278)
(1, 'Financiero', 1066746279)

In [53]:
# Creamos un Data Frame de pandas a partir de los resultados
df = pd.DataFrame(resultados, columns=[desc[0] for desc in cursor.description])

In [55]:
# Escribir el dataFrame a un objeto StrionIO
csv_buffer = StringIO()
df.to_csv(csv_buffer, index=False)

In [56]:
# Subir el archivo a S3
s3.put_object(Body = csv_buffer.getvalue(), Bucket = 'bucketluis2024', Key = 'datoscsv2/sala.csv')

{'ResponseMetadata': {'RequestId': 'WVJFVFRF16ZAQ8V0',
  'HostId': 'iy0IKDo+Uw6fk3K/fWMt0R0NxbFgmRoa5EOkHyhbxsqcFiTE0LrRDyX6SaupEjp5SwD1AoqH84tUwaENySSe9Q==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'iy0IKDo+Uw6fk3K/fWMt0R0NxbFgmRoa5EOkHyhbxsqcFiTE0LrRDyX6SaupEjp5SwD1AoqH84tUwaENySSe9Q==',
   'x-amz-request-id': 'WVJFVFRF16ZAQ8V0',
   'date': 'Fri, 23 Aug 2024 21:22:21 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"bd309da40565a4806b847faf457b70e7"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"bd309da40565a4806b847faf457b70e7"',
 'ServerSideEncryption': 'AES256'}

In [57]:
# Escribir el DataFrame a un archivo CSV
df.to_csv('sala.csv', index=False)